$color-gray-1: #707070B2;
$color-gray-2: #070707CB;
$color-gray-3: #F9FAFB;
$color-gray-4: #E9EBEE;
$color-gray-5: #00000098;

$color-black-1: #000000CC;
$color-black-2: #555555;
$color-black-3: #000000B2;

$color-blue-1: #004080;
$color-blue-2: #0075B1;
$color-blue-3: #0075B2;
$color-blue-4: #2185D0;
$color-blue-5: #2185D080;
$color-blue-6: #00408033;

$color-green-1: #009688;
$color-green-2: #05cab6;

$color-yellow-1: #807100;

$color-blue-transparent-1: transparent linear-gradient(270deg, #00408086 0%, #00376D 69%, #002040 100%);
$color-blue-transparent-2: transparent linear-gradient(180deg, #004080 0%, #7BBDFF 100%);

$color-green-transparent-1: transparent linear-gradient(270deg, #009688 0%, #00376D 69%, #002040 100%);

$color-error: red;
