<div class="row mb-3 d-flex align-items-center">
  <div class="col-auto">
    <h1>{{ 'sensor.title' | translate }}</h1>
    <p class="text-light mb-0">{{ 'sensor.description' | translate }} : {{ convertDate(parkStats.timeUpdateData) }}</p>
  </div>
  <div class="col-8">
    <div class="row">
      <button (click)="switchPark(parkStats)" *ngIf="!parkStats.status" type="button" class="btn btn-primary ml-auto">
        <i class="material-icons align-middle">power_settings_new</i> {{'sensor.button-open' | translate }}
      </button>
      <button (click)="switchPark(parkStats)" *ngIf="parkStats.status" type="button" class="btn btn-warning ml-auto">
        <i class="material-icons align-middle">power_settings_new</i> {{'sensor.button-close' | translate }}
      </button>
    </div>
    <div class="row">
      <app-counter-state></app-counter-state>
    </div>
  </div>
</div>
<div class="row mb-3">
  <div class="col-12">
    <div class="row" style="padding-top: 8px;">
      <div id="circle-green"></div><span>{{'sensor.Empty' | translate}} : </span><span
        class="number">{{parkStats.empty}}</span>
      <div id="circle-blue"></div><span>{{'sensor.Parking' | translate}} : </span><span
        class="number">{{parkStats.parking}}</span>
      <div id="circle-grey"></div><span>{{'sensor.Reserved' | translate}} : </span><span
        class="number">{{parkStats.reserve}}</span>
      <div id="circle-red"></div><span>{{'sensor.Offline' | translate}} : </span><span
        class="number">{{parkStats.disconnect}}</span>
    </div>
  </div>
</div>


<div class="modal fade modal-tabs modal-stack" bsModal #switchModal="bs-modal" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-tab-content clear-bg-color pt-5 pb-5">
      <div class="row mt-5 mb-5">
        <div class="col-12 text-center">
          <p>{{switchMassage}}</p>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-12">
          <button type="button" class="btn btn-dark mr-2" (click)="switchModal.hide()">
            {{'cancle' | translate }}
          </button>
          <button type="button" class="btn btn-success mr-2" (click)="updatePark()">
            {{'ok' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>