h1 {
    color: white;
    font-size: 28px;
    margin-top: 6px;
}

.button-create {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(189, 189, 189);
  width: 100%;
  height: 80px;
  border-radius: 5px;
}
.button-create:hover {
  background-color: #e0e0e018;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.parking-box{
  min-height:160px;
}
.parking-box-add{
  min-height:160px;
}

.setting-loading{
  min-height: 500px;
}
