// @import '../../../../../assets/scss/parking.scss';
.parking {
    min-height: 300px;
}
.parking-box {
    // box-shadow: 10px 10px 5px grey;
    min-height: 200px;
    .size-icon-lg{
        font-size: 4rem;
    }
}

.parking-box:hover {
    box-shadow: 0px 0px 4px 11px grey;
}
