.wrap {
    width: 100%;
}

.image {
    background: url(../../../../../assets/images/bg.jpg);
    position: relative;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
}

.ng-value-custom {
    margin-top: 10px;
}